body{
    font-family: sans-serif;
    margin: 0%;
    background-color: burlywood;
}



header{
    display: flex;
    min-height: 70px;
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav a{
    font-weight: 600;
    padding-right: 60px;
    justify-content:space-between;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: wheat;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo img{
    height: 100px;
    margin-right: 10px;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}