body {
  font-family: Arial, sans-serif;
  background-color: rgb(167, 92, 233);
}

.container {
    background-color: rgb(193, 156, 224);
  max-width: 600px;
  margin: auto;
  border: solid black;
}

#imagenCaptcha {
  width: 200px;
  height: 75px;
  object-fit: cover;
  display: grid;
  margin: 0 auto;
  margin-bottom: 20px;
}

#btn-submit {
  display: grid;
  margin: 0 auto;
  margin-bottom: 30px;
}
